
.a{
    height: 300px;
    width: 300px;
    background-color: #c33636;
    /* transition: ease-in-out 2s; */
    /* transition: ease-out 2s; */
    transition: linear 2s;
    /* transition:height 2s,width 4s, transform 3s ; */
}

.a:hover{
    /* transition: all 3s; */
    height: 400px;
    width: 400px;
    background-color: aliceblue;
    transform: rotate(360deg);
}